.title {
  text-align: center;
  color: white;
  font-size: 1.6rem;
}

.clients {
  display: flex;
  justify-content: flex-end;
}

.container {
  width: 70%;
  margin: 3rem auto 0 auto;
}


.table {
  border-collapse: separate;
  border-spacing: 0 1rem;
  width: 100%;
}

.row {
  background-color: #f5f5f5;
}

.table th {
  border-bottom: 1px solid #c2c2c2;
  text-align: left;
  padding: 5px 20px;
  font-weight: normal;
  width: 20%;
}

.search {
  display: flex;
}

.search label {
  margin-right: 0.5rem;
}

.table td {
  padding: 20px;
  color: #626161;
}

.delete {
  border: 0;
  cursor: pointer;
  background: #fe635f;
  width: 2em;
  height: 2em;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete:hover {
  background: #df3d37;
}

.message {
  text-align: center;
}

.message span {
  display: inline-block;
  margin-top: 60px;
}

.group {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 0.5rem;
}

.input {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.buttons {
  display: flex;
  justify-content: flex-end;
}

@media only screen and (max-width: 900px) {
  .container {
    width: 100%;
  }
}
