* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #2c2d3a;
}

.clients__title {
  text-align: center;
  color: white;
  padding: 5px;
  font-size: 2rem;
}

.clients__container {
  width: 70%;
  margin: 3rem auto 0 auto;
}

.clients__table {
  border-collapse: separate;
  border-spacing: 0 1rem;
  width: 100%;
}

.clients__row {
  background-color: #f5f5f5;
}

.clients__table th {
  border-bottom: 1px solid #c2c2c2;
  text-align: left;
  padding: 5px 20px;
  font-weight: normal;
}

.clients__table td {
  padding: 20px;
}

@media only screen and (max-width: 900px) {
  .clients__container {
    width: 100%;
  }
}
