@import '../../styles/variables.scss';

.layout {
  position: relative;
  display: flex;
  flex-direction: column;
  div:last-child {
    border-radius: 0 0 4px 4px;
  }
}

.body {
  max-height: calc(100vh - 120px) !important;
  overflow: auto;
  padding-bottom: 1rem;
  color: $text;
}

.title {
  font-size: 1.25rem;
  font-weight: 500;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.close {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  opacity: 0.5;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
